html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.heading{
    padding: .8rem;
    text-align: center;
    letter-spacing: .3rem;
    font-size: 5rem;
    color: yellow;
    background-color: #22223b;
}

body{
    background: url("images/bg.jpg") no-repeat center center fixed;
    background-size: 100rem 100rem;
    transition: background 2s ease;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 20rem;
}

.menu-three-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.instruction-screen{
    width: 30rem;
    border-radius: 1.5rem;
    background-color: rgba(173, 255, 47, 0.6);
    font-size: 3rem;
    line-height: 5rem;
}

.about-screen{
    width: 30rem;
    border-radius: 1.5rem;
    background-color: rgba(173, 255, 47, 0.6);
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
}

.game-screen{
    width: 80rem;
    height: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.result-screen-wrapper{
    display: flex;
    flex-direction: column;
    height: 40rem;
    border-radius: 1.5rem;
    border: solid .2rem white;
    background-color: lightgray;
    padding: .5rem;
}

.result-screen{
    width: 70rem;
    height: 30rem;
    display: flex;
    justify-content: space-around;
}

.game-btn{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.btn{
    width: 20rem;
    padding: .5rem;
    font-size: 3rem;
    border-radius: 1.5rem;
    background-color: rgba(173, 255, 47, 0.6);
}

.rock, .paper, .scissor{
    width: 10rem;
    height: 10rem;
    font-size: 5rem;
    background-color: #fca311;
    border-radius: 1.5rem;
    transition: transform 0.3s ease;
}
.rock:hover, .paper:hover, .scissor:hover{
    transform: scale(1.1);
}

.home-btn{
    width: auto;
}

.player-screen, .computer-screen{
    width: 30rem;
    height: 30rem;
    font-size: 3rem;
    padding: .3rem;
    text-align: center;
}

.player-score, .computer-score{
    width: 5rem;
    align-self: flex-start;
    font-size: 4rem;
}

.player-score{
    text-align: left;
}

.computer-score{
    text-align: right;
}

.game-result{
    font-size: 3rem;
    color: white;
    letter-spacing: .5rem;
}

.choice-rock, .choice-paper, .choice-scissor{
    width: 10rem;
    height: 10rem;
    font-size: 5rem;
    background-color: #fca311;
    border: solid .3rem black;
    border-radius: 1.5rem;
    line-height: 10rem;
}

.player-choice, .computer-choice{
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-result{
    height: 10rem;
    font-size: 5rem;
    text-align: center;
}

.hidden{
    display: none;
}
